.wrapper 
  .chat-side 
    =render "chat-side"
  .chat-main 
    .main-header 
      .main-header__left__box 
        %h2.main-header__left-box__current-group 
          = @group.name 
        %ul.main-header__left-box__member-list 
          Member :  
          %li.main-header__left-box__member-list__member
            - @members.each do |member|
              = member.name
      .main-header__edit
        =link_to "Edit", edit_group_path(@group.id),class: 'main-header__edit__box'
    .messages
      = render partial: 'message', collection: @messages

    .form 
      .new_message 
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box', placeholder: 'type a message'
          .image-icon
            = f.label :image, class: 'image-icon__box' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'image-icon__box__file'
          = f.submit 'Send', class: 'submit-btn'